# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# cabal
dist
dist-*
cabal.project.local
cabal.project.local~

# nix
result
result-*

# direnv
.direnv

# out
out
